<div class="body-content">
    {{#if error.length}}
    {{#each error}}
    <p class="alert error">{{this}}</p>
    {{/each}}
    {{/if}}

    {{#if success.length}}
    {{#each success}}
    <p class="alert success">{{this}}</p>
    {{/each}}
    {{/if}}
    <div class="restore-password-page">
        <form action="/auth/password-reset-confirm" method="POST">
            <label for="password">Enter your new password: </label>
            <input type="text" name="password" id="password" maxlength="70" required>
            <input name="_csrf" type="hidden" value="{{csrf}}">
            <input name="userId" type="hidden" value="{{userId}}">
            <input name="token" type="hidden" value="{{token}}">

            <input type="submit" value="Submit">
        </form>
    </div>
</div>