<div class="post">
    {{#if error.length}}
    {{#each error}}
    <p class="alert error">{{this}}</p>
    {{/each}}
    {{/if}}
    
    {{#if success.length}}
    {{#each success}}
    <p class="alert success">{{this}}</p>
    {{/each}}
    {{/if}}

    <div class="post__title">
        <h1>{{article.title}}</h1>
    </div>
    <div class="post__post-date">{{article.visible_date}}</div>
    <div class="post__full">
        <article>
            {{{article.text}}}
        </article>
        {{#if isAdmin}}
        <div class="post__admin-operations">
            <a class="post__admin-operations__edit-btn" href="/article/edit/{{article._id}}">Edit</a>
        </div>
        {{/if}}
    </div>
    <div class="comments">
        <h2 class="comments__section-title">Discussion</h2>
        {{#if articleComments.length}}
        {{#each articleComments}}
        <div class="comment">
            <div class="comment__date">
                <p>{{date}}</p>
            </div>
            <div class="comment__user">
                <p>{{user.email}}, <strong>{{user.name}}</strong> says:</p>
            </div>
            <div class="comment__text">
                <p>{{text}}</p>
            </div>
        </div>
        {{/each}}
        {{else}}
        <p class="comments__no-comments">There is no comments yet.</p>
        {{/if}}
        {{#if isLoggedIn}}
        <div class="comments post-new-comment">
            <h3>Add a comment to this article:</h3>
            <form action="/article/view/{{article._id}}/post-comment" method="POST">
                <div class="row">
                    <div class="input-field">
                        <label for="username">Your name:</label>
                        <input id="username" name='username' class="post-new-comment__username" value="{{user.name}}" maxlength="70" disabled required></input>
                        <input id="email" name='email' class="post-new-comment__email" type="hidden" value="{{user.email}}" required></input>
                        <input name="_csrf" type="hidden" value="{{csrf}}">
                        <br>
                        <label for="text">Your comment:</label>
                        <textarea id="text" name='text' class="post-new-comment__text" minlength="5" maxlength="1000" required></textarea>
                    </div>

                    <button class="btn post-new-comment">Post the comment</button>
                </div>
            </form>
        </div>
        {{else}}
        <div class="comments not-authorized">
            <p><strong>You have to be authorized in order to write a comment.</strong></p>
            <a class="comments__login-btn" href="/auth">Log in now</a>
        </div>
        {{/if}}
    </div>
</div>