<div class="post">
    {{#if error.length}}
    {{#each error}}
    <p class="alert error">{{this}}</p>
    {{/each}}
    {{/if}}

    {{#if success.length}}
    {{#each success}}
    <p class="alert success">{{this}}</p>
    {{/each}}
    {{/if}}

    <div class="post__title">
        <h1>{{article.title}}</h1>
    </div>
    <div class="post__post-date">{{article.visible_date}}</div>
    <div class="post__full">
        <article>
            {{{article.text}}}
        </article>
        <div class="post__full__buttons">
            <a class="post__full__like-button">
                {{#if isLikedByUser}}
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="like-button__filled"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg>
                {{else}}
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="like-button"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>
                {{/if}}
                <span class="post__full__like-counter">{{likes}}</span>
            </a>
            <a class="post__full__dislike-button">
                {{#if isDislikedByUser}}
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="dislike-button__filled"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z" />
                </svg>
                {{else}}
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="dislike-button"
                    viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
                </svg>
                {{/if}}
                <span class="post__full__dislike-counter">{{dislikes}}</span>
            </a>
        </div>
        {{#if isAdmin}}
        <div class="post__admin-operations">
            <a class="post__admin-operations__edit-btn" href="/article/edit/{{article._id}}">Edit</a>
        </div>
        {{/if}}
    </div>
    <div class="comments">
        <h2 class="comments__section-title">Discussion</h2>
        {{#if articleComments.length}}
        {{#each articleComments}}
        <div class="comment">
            <div class="comment__date">
                <p>{{date}}</p>
            </div>
            <div class="comment__user">
                <p>{{user.email}}, <strong>{{user.name}}</strong> says:</p>
            </div>
            <div class="comment__text">
                <p>{{text}}</p>
            </div>
        </div>
        {{/each}}
        {{else}}
        <p class="comments__no-comments">There is no comments yet.</p>
        {{/if}}
        {{#if isLoggedIn}}
        <div class="comments post-new-comment">
            <h3>Add a comment to this article:</h3>
            <form action="/article/view/{{article._id}}/post-comment" method="POST">
                <div class="row">
                    <div class="input-field">
                        <label for="username">Your name:</label>
                        <input id="username" name='username' class="post-new-comment__username" value="{{user.name}}"
                            maxlength="70" disabled required></input>
                        <input id="email" name='email' class="post-new-comment__email" type="hidden"
                            value="{{user.email}}" required></input>
                        <input name="_csrf" type="hidden" value="{{csrf}}">
                        <br>
                        <label for="text">Your comment:</label>
                        <textarea id="text" name='text' class="post-new-comment__text" minlength="5" maxlength="1000"
                            required></textarea>
                    </div>

                    <button class="btn post-new-comment">Post the comment</button>
                </div>
            </form>
        </div>
        {{else}}
        <div class="comments not-authorized">
            <p><strong>You have to be authorized in order to write a comment.</strong></p>
            <a class="comments__login-btn" href="/auth">Log in now</a>
        </div>
        {{/if}}
    </div>
</div>